<mat-accordion class="about-accordion">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Background</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="intro-text">
      <p>
        I started as a technical apprentice at GData about 1 year ago. First I
        didn't know anything about software development but since then I try to
        gain as mutch expierience as possible.
      </p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Technical Interests</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      I enjoy learning new technologies and improving existing processes to make
      systems more reliable and efficient. In the long term, I aim to grow into
      a full-stack or DevOps engineer role and contribute to building robust,
      modern software ecosystems. My main interests lie in backend development
      and DevOps — especially in designing clean architectures, automating
      deployments, and building scalable applications using tools like Docker,
      Kubernetes, and CI/CD pipelines. So overall I'm interested in everything
      but I try to focus on the following technologies: Backend development,
      DevOps, CI/CD, Docker, Kubernetes.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Goals</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      I've started just one year ago and first of all I try to build a solid
      foundation in web development. After that, my main goal is to become a
      full-stack or DevOps engineer and build scalable, reliable systems.
    </p>
  </mat-expansion-panel>
</mat-accordion>
