<div class="tech-stack-background-div">
  <div class="stack-div">
    <img class="logo" src="assets/images/Angularlogo.png" alt="Angular Logo" />
  </div>

  <div class="stack-div">
    <img class="logo" src="assets/images/CSharplogo.png" alt="CSharp Logo" />
  </div>

  <div class="stack-div">
    <img class="logo" src="assets/images/Htmllogo.png" alt="Html Logo" />
  </div>

  <div class="stack-div">
    <img class="logo" src="assets/images/Csslogo.png" alt="Css Logo" />
  </div>

  <div class="stack-div">
    <img class="logo" src="assets/images/Dockerlogo.png" alt="Docker Logo" />
  </div>
</div>
