<meta charset="UTF-8" />

<p>
  Tach, schön dass du da bist und herzlich Willkommen auf meiner
  Portfoliowebsite. Mein Name ist Lukas Lümers und ich arbeite seit ca. einem
  Jahr als Developer in Ausbildung bei der GData Cyberdefense AG. Hier auf
  meiner Portfoliowebsite findest du u.A. mehrere Informationen über meine
  bisherigen Projekte. Momentan versuche ich mich speziell in den Bereichen
  DevOps, Backend und Cloud fortzuentwickeln und ich versuche mir einen
  möglichst breiten Stamm an Basiswissen anzueignen, den ich in meinen Projekten
  wiederspiegeln möchte Im übrigen schaust du dir gerade eines davon an, denn
  ich habe diese Website nicht nur erstellt sondern hoste die Website auch über
  meinen Server in meinem Arbeitszimmer. Schau dich gerne um, außerdem würde es
  mich freuen, wenn du mir eine Anfrage schicken würdest.
</p>
