/* Basis-Body Styling */
body {
  min-height: 100vh; /* ganze Höhe des Viewports */
  margin: 0;
  padding: 1rem;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;

  background: url("/assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

a {
  &:hover {
    text-decoration: underline;
  }
}
